collapse {
    .collapse-base{
        border: 1px solid #c8c7cc;
        border-radius: 12px;
        background: #f9f9f9;  
        margin-bottom: 20px;      
    }
    
    .collapse-title{
        border: 1px solid #c8c7cc;
        border-radius: 10px;
        background: white;
        padding: 16px;
        padding-left: 35px;
        position: relative;
    }

    .collapse-title::before {
        content: "\00B7";
        position: absolute;
        top: 0;
        left: 0;
        width: 35px;
        height: 100%;
        display:flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        font-size: 60px;
        color: red;
    }

    .title-tag{
        position: absolute;
        top: 0;
        right: -1px;
        width: 100px;
        height: 100%;
        display:flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
    }

    .title-tag-decor{
        width: 100%;
        padding: 8px;
        color: white;
        background-color: blue;
    }

    .ribbon-container {
        position: absolute;
        top: 15px;
        right: -20px;
        overflow: visible;
        /* so we can see the pseudo-elements we're going to add to the anchor */
        
        font-size: 18px;
        /* font-size and line-height must be equal so we can account for the height of the banner */
        
        line-height: 18px;
    }

    .title-tag:before {
        content: "";
        height: 0;
        width: 0;
        display: block;
        position: absolute;
        top: 0px;
        left: -20px;
        border-top: 17px solid blue;
        border-bottom: 15px solid blue;
        border-right: 0px solid blue;
        border-left: 20px solid transparent;
    }
            
    .collapse-item{
        border-radius: 10px;
        background: #f9f9f9;
        padding: 16px;
        padding-left: 35px;
        position: relative;
    }

    .collapse-item::before {
        content: "\00B7";
        position: absolute;
        top: -10px;
        left: 0;
        width: 35px;
        display:flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        font-size: 60px;
        color: blue;
    }
}
.ios{
    collapse {
        .collapse-title::before {
            top: -3px;
        }
        .collapse-item::before {
            top: -15px;
        }

    }
}